# 01 Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# Create path
path = r'/Users/dana/Documents/Instacart Basket Analysis/'

In [4]:
# import data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged.pkl'))

# 03 Exercise

In [5]:
# create smaller subset to work with
df = ords_prods_merge[:1000000]

In [6]:
df.shape

(1000000, 20)

In [7]:
df.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,busiest_days
0,2539329.0,1.0,1.0,2.0,8.0,NaN,True,196,1.0,0.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,NaN
1,2398795.0,1.0,2.0,3.0,7.0,15.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,Least busy
2,473747.0,1.0,3.0,3.0,12.0,21.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,Least busy
3,2254736.0,1.0,4.0,4.0,7.0,29.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Least busy,Average orders,Least busy
4,431534.0,1.0,5.0,4.0,15.0,28.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Least busy,Most orders,Least busy
5,3367565.0,1.0,6.0,2.0,7.0,19.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,NaN
6,550135.0,1.0,7.0,1.0,9.0,20.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days
7,3108588.0,1.0,8.0,1.0,14.0,14.0,False,196,2.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days
8,2295261.0,1.0,9.0,1.0,16.0,0.0,False,196,4.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days
9,2550362.0,1.0,10.0,4.0,8.0,30.0,False,196,1.0,1.0,Soda,77.0,7.0,9.0,both,Mid-range product,Least busy,Least busy,Average orders,Least busy

### Grouping Data with pandas

In [8]:
# group by a given column
df.groupby('product_name')

### Aggregating Data with agg()

In [9]:
# find the mean values for order_number in each department_id group
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4.0              18.825780
7.0              17.472355
13.0             17.993423
14.0             19.246334
16.0             19.463012
17.0             11.294069
19.0             19.305237
20.0             17.599636

In [10]:
# some aggregate functions can be done without agg
df.groupby('department_id')['order_number'].mean()

department_id
4.0     18.825780
7.0     17.472355
13.0    17.993423
14.0    19.246334
16.0    19.463012
17.0    11.294069
19.0    19.305237
20.0    17.599636
Name: order_number, dtype: float64

In [11]:
# performing multiple aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
4.0              18.825780  1.0  99.0
7.0              17.472355  1.0  99.0
13.0             17.993423  1.0  99.0
14.0             19.246334  1.0  99.0
16.0             19.463012  1.0  99.0
17.0             11.294069  1.0  98.0
19.0             19.305237  1.0  99.0
20.0             17.599636  1.0  99.0

### Aggregating Data with transform()

In [12]:
# create a max_order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,busiest_days,max_order
0,2539329.0,1.0,1.0,2.0,8.0,NaN,True,196,1.0,0.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,NaN,10.0
1,2398795.0,1.0,2.0,3.0,7.0,15.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,Least busy,10.0
2,473747.0,1.0,3.0,3.0,12.0,21.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,Least busy,10.0
3,2254736.0,1.0,4.0,4.0,7.0,29.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Least busy,Least busy,Average orders,Least busy,10.0
4,431534.0,1.0,5.0,4.0,15.0,28.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Least busy,Least busy,Most orders,Least busy,10.0
5,3367565.0,1.0,6.0,2.0,7.0,19.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,NaN,10.0
6,550135.0,1.0,7.0,1.0,9.0,20.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days,10.0
7,3108588.0,1.0,8.0,1.0,14.0,14.0,False,196,2.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days,10.0
8,2295261.0,1.0,9.0,1.0,16.0,0.0,False,196,4.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days,10.0
9,2550362.0,1.0,10.0,4.0,8.0,30.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Least busy,Least busy,Average orders,Least busy,10.0
10,2968173.0,15.0,15.0,1.0,9.0,7.0,False,196,2.0,0.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days,22.0
11,1870022.0,15.0,17.0,2.0,16.0,8.0,False,196,6.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,NaN,22.0
12,1911383.0,15.0,18.0,2.0,11.0,7.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,NaN,22.0
13,2715276.0,15.0,21.0,1.0,9.0,7.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days,22.0
14,487368.0,15.0,22.0,1.0,10.0,14.0,False,196,1.0,1.0,...,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Busiest day,Most orders,Busiest days,22.0

In [14]:
# turn off max rows
pd.options.display.max_rows = None

In [ ]:
ords_prods_merge.head(100)

### Deriving Columns with loc()

In [16]:
# create a flag that assigns a loyalty label to each customer
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [17]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
NaN                       11
Name: loyalty_flag, dtype: int64

In [ ]:
# check results
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)